<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>OmGTUchan</title>
	<link rel="stylesheet" type="text/css" href="styles/entrance-page-style.css">
	<link rel="stylesheet" type="text/css" href="styles/common-style.css">
	<link type="image/x-icon" href="img/omgtu_logo_min.ico" rel="shortcut icon">
</head>
<body>
	<div th:include="sidenav :: sidenav" class="sidenav"></div>

	<div class="main">
  		<div class="headbar">
  			<p class="headbar-title">Вход</p>
  		</div>

  		<form>
  			<input type="text" name="login" placeholder="Логин">
  			<br>
  			<input type="password" name="password" placeholder="Пароль">
  			<br>
  			<button type="submit"><img class="entrance-icon-white" src="img/entrance-icon-white.png">Войти</button>
  			<a class="create-account" th:href="@{/register}">Создать аккаунт</a>
  		</form>


	</div>  

</body>
</html>