<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>OmGTUchan</title>
	<link rel="stylesheet" type="text/css" href="/../styles/entrance-page-style.css">
	<link rel="stylesheet" type="text/css" href="/../styles/common-style.css">
	<link type="image/x-icon" href="/../img/omgtu_logo_min.ico" rel="shortcut icon">
</head>
<body>
	<div th:include="sidenav :: sidenav" class="sidenav"></div>

	<div class="main">
  		<div class="headbar">
  			<p class="headbar-title">Вход</p>
  		</div>

  		<form method="post" th:action="@{/login}">
			<div th:if="${(#httpServletRequest.getParameter('error') != null) and (#httpServletRequest.getParameter('error') == 'true')}">
				<h5 class="validationError">
					Username and\or password is incorrect.
				</h5>
			</div>
  			<input type="text" name="username" placeholder="Имя пользователя">
  			<br>
  			<input type="password" name="password" placeholder="Пароль">
  			<br>
			<button type="submit" name="login"><img class="entrance-icon-white" src="/../img/entrance-icon-white.png">Войти</button>
			<input style="visibility: hidden; position: absolute;" type="checkbox" class="input-place" checked name="remember-me"/>
			<a class="create-account" th:href="@{/register}">Создать аккаунт</a>
  		</form>


	</div>  

</body>
</html>