<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>OmGTUchan</title>
	<link rel="stylesheet" type="text/css" href="/../styles/main-page-style.css">
	<link rel="stylesheet" type="text/css" href="/../styles/common-style.css">
	<link type="image/x-icon" href="/../img/omgtu_logo_min.ico" rel="shortcut icon">
</head>
<body>
	<div th:include="sidenav :: sidenav" class="sidenav"></div>

	<div class="main">
  		<div class="headbar">
  			<a th:href="@{/}"><img class="main-logo" src="/../img/omgtu_logo_min.png"></a>
  		</div>

  		<div class="block-post" th:each="post : ${posts}">
  			<div class="post-main">
  				<div class="post-header"> 
  					<p th:text="${post.getAuthorName()}" class="name-user"></p>
  					<p th:text="${post.getCreatedAt()}" class="post-date"><i></i></p>
  				</div>
  				<div class="post-body">
					<a th:href="@{'/title-page/' + ${post.id}}" style="display: block; margin-block-start: 1em;
					margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; font-size: x-large;
					font-weight: bold;" th:text="${post.getArticle()}"></a>
  					<p th:text="${post.getContent()}"></p>
					<img class="post-body-image" th:src="'data:image/jpg;base64, ' + ${post.getBase64Image()}"/>
  				</div>
  				<hr>
  				<div class="post-footer">

  					<div class="comments"> 
  						<div class="comment">
  							<button  data-tooltip="Пожаловаться" class="spam-button"><img class="footer-icons" src="/../img/spam-icon.svg"></button>
  							<button data-tooltip="Переслать" class="reply-btn"><img class="footer-icons" src="/../img/send-icon.svg"></button>

							<div id="comment0_form" class="reply-form">
								<form class="reply-js">
									<section class="reply-area">
										<div class="reply-area-inside">
											<textarea class="id-area" readonly>мой id</textarea>
											<textarea class="id-area" readonly>>>id пользователя</textarea>
											<textarea class="reply-input"></textarea>
										</div>
									</section>
									<button type="submit" class="button-send">Отправить</button>
								</form>
							</div>
  						</div>
  					</div>
  				</div>
  			</div>

  			<p class="missed-messages">Последние сообщения — <a th:href="@{'/title-page/' + ${post.id}}">Перейти к треду</a></p>
  			<div class="post-messages">
  				<div class="post-header">
  					<p class="name-user">Имя пользователя</p>
  					<p class="post-date"><i>27.10.2022 16.15.46</i></p>
  				</div>
  				<div class="post-body">
  					<p>Не следует, однако, забывать о том, что постоянное информационно-техническое обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участникамив отношении поставленных задач? Задача организации, в особенности же курс на социально-ориентированный национальный проект способствует подготовке и реализации экономическойцелесообразности принимаемых решений. Таким образом, консультация с профессионалами из IT требует от нас анализа модели развития!</p>
  				</div>
  				<hr>
  				<div class="post-footer">
  					<div class="comments">
  						<div class="comment">
  							<button  data-tooltip="Пожаловаться" class="spam-button"><img class="footer-icons" src="/../img/spam-icon.svg"></button>
  							<button data-tooltip="Переслать" class="reply-btn"><img class="footer-icons" src="/../img/send-icon.svg"></button>

							<div id="comment1_form" class="reply-form">
								<form class="reply-js">
									<section class="reply-area">
										<div class="reply-area-inside">
											<textarea class="id-area" readonly>мой id</textarea>
											<textarea class="id-area" readonly>>>id пользователя</textarea>
											<textarea class="reply-input"></textarea>
										</div>
									</section>
									<button type="submit" class="button-send">Отправить</button>
								</form>
							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<hr class="hr-post">
  		</div>


  		
	</div>

  	<script type="text/javascript">
		
		// const replyButtons = document.querySelectorAll('.reply-btn');
		//
		// replyButtons.forEach(button => {
		// 	button.addEventListener('click', () => {
		// 		const comment = button.closest('.comment');
		// 		const replyForm = comment.querySelector('.reply-form');
		// 		const newForm = document.createElement('form');
		// 			newForm.innerHTML = `
		//
		// 			<form class="reply-js">
		// 				<section class="reply-area">
		// 					<div class="reply-area-inside">
		// 						<textarea class="id-area" readonly>мой id</textarea>
		// 						<textarea class="id-area" readonly>>>id пользователя</textarea>
		// 						<textarea class="reply-input"></textarea>
		// 					</div>
		// 				</section>
		// 				<button type="submit" class="button-send">Отправить</button>
		// 			</form>`;
		//
		// 		if (replyForm.classList.contains('show')) {
		// 			replyForm.classList.remove('show');
        //   const existedThing = replyForm.querySelector('form');
        //   existedThing.remove();
		// 		} else {
		// 			replyForm.appendChild(newForm);
		// 			replyForm.classList.add('show');
		//
		// 		}
		// 	});
		// });

		const replyButtons = document.querySelectorAll('.reply-btn');

		replyButtons.forEach(button => {
			button.addEventListener('click', () => {
				const comment = button.closest('.comment');
				const replyForm = comment.querySelector('.reply-form');
				// const newForm = document.createElement('form');
				// newForm.innerHTML = `
				// 	<form class="reply-js">
				// 		<section class="reply-area">
				// 			<div class="reply-area-inside">
				// 				<textarea class="id-area" readonly>мой id</textarea>
				// 				<textarea class="id-area" readonly>>>id пользователя</textarea>
				// 				<textarea class="reply-input"></textarea>
				// 			</div>
				// 		</section>
				// 	</form>
				// 	<button type="submit" class="button-send">Отправить</button>`;

				if (replyForm.classList.contains('show')) {
					replyForm.classList.remove('show');
					// const existedThing = replyForm.querySelector('form');
					// existedThing.remove();
				} else {
					// replyForm.appendChild(newForm);
					replyForm.classList.add('show');
				}
			});
		});
	</script>



</body>
</html>