<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>OmGTUchan</title>
	
	<link rel="stylesheet" type="text/css" href="/../styles/common-style.css">
	<link type="image/x-icon" href="/../img/omgtu_logo_min.ico" rel="shortcut icon">
</head>
<body>
	<div th:fragment="sidenav" class="sidenav">
		<a th:href="@{/}"><img class="sidebar-logo" src="/../img/omgtu_logo.png"></a>
		<form>
  			<input type="text" placeholder="Искать здесь...">
  			<button type="submit"><img class="search-icon" src="/../img/search-icon.png"></button>
		</form>

		<div th:each="post : ${posts}">
			<div class="sidebar-post">
				<a th:href="@{'/title-page/' + ${post.getId()}}" th:text="${post.getArticle()}"></a>
			</div>
		</div>

		<a th:href="@{login}"><img class="entrance-icon" src="/../img/entrance_icon.png"></a>
		<a th:href="@{login}" class="entrance">ВХОД</a>
  	</div>				
</body>
</html>