<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>OmGTUchan</title>
	<link rel="stylesheet" type="text/css" href="/../styles/title-page-style.css">
	<link rel="stylesheet" type="text/css" href="/../styles/common-style.css">
	<link type="image/x-icon" href="/../img/omgtu_logo_min.ico" rel="shortcut icon">
</head>
<body>
	<div th:include="sidenav :: sidenav" class="sidenav"></div>

	<div class="main">
  		<div class="headbar">
  			<p th:text="${post.getArticle()}" class="headbar-title"></p>
  		</div>

  		<div class="block-post">
  			<div class="post-main">
  				<div class="post-header"> 
  					<p th:text="${post.getAuthorName()}" class="name-user"></p>
  					<p th:text="${post.getCreatedAt()}" class="post-date"><i></i></p>
  				</div>
  				<div class="post-body">
					<p style="font-size: x-large; font-weight: bold;" th:text="${post.getArticle()}"></p>
  					<p th:text="${post.getContent()}"></p>
					<img class="post-body-image" th:src="'data:image/jpg;base64, ' + ${post.getBase64Image()}"/>
  				</div>
  				<hr>
  				<div class="post-footer">
  					<div class="post-footer">

  					<div class="comments"> 
  						<div class="comment">
  							<button  data-tooltip="Пожаловаться" class="spam-button"><img class="footer-icons" src="/../img/spam-icon.svg"></button>
  							<button id="comment0" onClick="reply_click(this.id)" data-tooltip="Переслать" class="reply-btn"><img class="footer-icons" src="/../img/send-icon.svg"></button>
  							
  							<div id="comment0_form" class="reply-form">
								<form method="post" th:action="@{'/title-page/' + ${post.id}}" th:object="${futureComment}" class="reply-js">
									<section class="reply-area">
										<div class="reply-area-inside">
<!--											<textarea class="id-area" readonly>мой id</textarea>-->
<!--											<textarea class="id-area" readonly>>>id пользователя</textarea>-->
											<textarea th:field="*{content}" class="reply-input" placeholder="Ваш текст"></textarea>
										</div>
									</section>
									<button type="submit" class="button-send">Отправить</button>
								</form>
							</div>
  						</div>
  					</div>
  				</div>
  				</div>
  			</div>

  			<p class="messages-header">Сообщения:</p>

  			<div class="messages">
                <div class="post-messages" th:each="comment : ${allComments}">
                    <div class="post-header">
                        <p class="name-user" th:text="${comment.getAuthor()}">Имя пользователя</p>
                        <p class="post-date" th:text="${comment.getCreatedAt()}"><i>27.10.2022 16.15.46</i></p>
                    </div>
                    <div class="post-body">
                        <p th:text="${comment.getContent()}">Не следует, однако, забывать о том, что постоянное информационно-техническое обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач? Задача организации, в особенности же курс на социально-ориентированный национальный проект способствует подготовке и реализации экономической целесообразности принимаемых решений. Таким образом, консультация с профессионалами из IT требует от нас анализа модели развития!</p>
                    </div>
                    <hr>
                    <div class="post-footer">
                        <div class="comments">
                            <div class="comment">
                                <button  data-tooltip="Пожаловаться" class="spam-button"><img class="footer-icons" src="/../img/spam-icon.svg"></button>
                                <button  th:id="'comment' + ${comment.getId()}" onClick="reply_click(this.id)"  data-tooltip="Переслать" class="reply-btn"><img class="footer-icons" src="/../img/send-icon.svg"></button>

                                <div class="reply-form">
                                    <form method="post" th:action="@{'/title-page/' + ${post.id} + '/reply/' + ${comment.getAuthor()}}" th:object="${futureComment}" class="reply-js">
                                        <section class="reply-area">
                                            <div class="reply-area-inside">
<!--                                                <textarea class="id-area" readonly>мой id</textarea>-->
                                                <textarea th:text="${comment.getAuthor()} + ','" class="id-area" readonly>>>id пользователя</textarea>
                                                <textarea th:field="*{content}" class="reply-input"></textarea>
                                            </div>
                                        </section>
                                        <button type="submit" class="button-send">Отправить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--				<div class="post-messages">-->
<!--					<div class="post-header">-->
<!--						<p class="name-user">Имя пользователя</p>-->
<!--						<p class="post-date"><i>27.10.2022 16.15.46</i></p>-->
<!--					</div>-->
<!--					<div class="post-body">-->
<!--						<p>Не следует, однако, забывать о том, что постоянное информационно-техническое обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач? Задача организации, в особенности же курс на социально-ориентированный национальный проект способствует подготовке и реализации экономической целесообразности принимаемых решений. Таким образом, консультация с профессионалами из IT требует от нас анализа модели развития!</p>-->
<!--					</div>-->
<!--					<hr>-->
<!--					<div class="post-footer">-->
<!--						<div class="comments">-->
<!--							<div class="comment">-->
<!--								<button  data-tooltip="Пожаловаться" class="spam-button"><img class="footer-icons" src="/../img/spam-icon.svg"></button>-->
<!--								<button id="comment1" onClick="reply_click(this.id)"  data-tooltip="Переслать" class="reply-btn"><img class="footer-icons" src="/../img/send-icon.svg"></button>-->

<!--								<div id="comment1_form" class="reply-form">-->
<!--									<form class="reply-js">-->
<!--										<section class="reply-area">-->
<!--											<div class="reply-area-inside">-->
<!--												<textarea class="id-area" readonly>мой id</textarea>-->
<!--												<textarea class="id-area" readonly>>>id пользователя</textarea>-->
<!--												<textarea class="reply-input"></textarea>-->
<!--											</div>-->
<!--										</section>-->
<!--										<button type="submit" class="button-send">Отправить</button>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="post-messages">-->
<!--					<div class="post-header">-->
<!--						<p class="name-user">Имя пользователя</p>-->
<!--						<p class="post-date"><i>27.10.2022 16.15.46</i></p>-->
<!--					</div>-->
<!--					<div class="post-body">-->
<!--						<p>Просто пост ни о чем</p>-->
<!--					</div>-->
<!--					<hr>-->
<!--					<div class="post-footer">-->
<!--						<div class="comments">-->
<!--							<div class="comment">-->
<!--								<button  data-tooltip="Пожаловаться" class="spam-button"><img class="footer-icons" src="/../img/spam-icon.svg"></button>-->
<!--								<button id="comment2" onClick="reply_click(this.id)"  data-tooltip="Переслать" class="reply-btn"><img class="footer-icons" src="/../img/send-icon.svg"></button>-->

<!--								<div id="comment2_form" class="reply-form">-->
<!--									<form class="reply-js">-->
<!--										<section class="reply-area">-->
<!--											<div class="reply-area-inside">-->
<!--												<textarea class="id-area" readonly>мой id</textarea>-->
<!--												<textarea class="id-area" readonly>>>id пользователя</textarea>-->
<!--												<textarea class="reply-input"></textarea>-->
<!--											</div>-->
<!--										</section>-->
<!--										<button type="submit" class="button-send">Отправить</button>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
			</div>
  		</div>

  		<div class="comments-post"> 
  			<div class="comment-post">
  				<button class="reply-btn-post button-post" >
  					<img class="img-message" src="/../img/write-message.svg">
  					<label class="button-label">Ответить на пост</label>
  				</button>
  						
  				<div class="reply-form-post">
					<form class="reply-js-post">
						<section class="reply-area">
							<div class="reply-area-inside">
								<textarea class="id-area" readonly>мой id</textarea>
								<textarea class="reply-input"></textarea>
							</div>
						</section>
						<button type="submit" class="button-send-post">Отправить</button>
					</form>
				</div>
  			</div>
  		</div>
	</div>

<!--	<script type="text/javascript">-->
<!--		// Получаем кнопку "Переслать"-->
<!--		var replyButtonPost = document.querySelector('.button-post');-->

<!--		// Получаем форму для ответа-->
<!--		var replyFormPost = document.querySelector('.reply-form-post');-->

<!--		// Устанавливаем обработчик события click на кнопку "Переслать"-->
<!--		replyButtonPost.addEventListener('click', function(event) {-->

<!--			// Отменяем действие по умолчанию браузера-->
<!--			event.preventDefault();-->

<!--			// Проверяем, отображается ли форма уже, и скрываем ее, если да-->
<!--			if (replyFormPost.style.display === 'block') {-->
<!--				replyFormPost.style.display = 'none';-->
<!--			}-->
<!--			// В противном случае отображаем форму-->
<!--			else {-->
<!--				replyFormPost.style.display = 'block';-->
<!--			}-->
<!--		});-->
<!--	</script>-->
		<script type="text/javascript">

		const buttonsReply = document.querySelectorAll('.reply-btn-post');

		buttonsReply.forEach(btn => {
			btn.addEventListener('click', () => {
				const comment = btn.closest('.comment-post');
				const replyForm = comment.querySelector('.reply-form-post');
				// const newForm = document.createElement('form');
				// 	newForm.innerHTML = `
                //
				// 	<form class="reply-js-post">
				// 		<section class="reply-area">
				// 			<div class="reply-area-inside">
				// 				<textarea class="id-area" readonly>мой id</textarea>
				// 				<textarea class="reply-input"></textarea>
				// 			</div>
				// 		</section>
				// 		<button type="submit" class="button-send-post">Отправить</button>
				// 	</form>`;

				if (replyForm.classList.contains('show')) {
					replyForm.classList.remove('show');
          			// const existedThing = replyForm.querySelector('form');
          			// existedThing.remove();
				} else {
					// replyForm.appendChild(newForm);
					replyForm.classList.add('show');
				}
			});
		});
	</script>

<!-- ---------------------------------------------------------------------------- -->

<!--	<script type="text/javascript">-->
<!--		function reply_click(clicked_btn) {-->
<!--			// Получаем кнопку "Переслать"-->
<!--			var replyButton = document.querySelector('#' + clicked_btn);-->
<!--			// Получаем форму для ответа-->
<!--			// var replyForm = document.querySelector('.reply-form');-->

<!--			// Устанавливаем обработчик события click на кнопку "Переслать"-->
<!--			replyButton.addEventListener('click', function (event) {-->
<!--				console.log('click');-->
<!--				var comment = replyButton.parentElement;-->
<!--				var replyForm = comment.querySelector('#' + clicked_btn + '_form');-->
<!--				// Отменяем действие по умолчанию браузера-->
<!--				event.preventDefault();-->

<!--				// Проверяем, отображается ли форма уже, и скрываем ее, если да-->
<!--				if (replyForm.style.display === 'block') {-->
<!--					replyForm.style.display = 'none';-->
<!--				}-->
<!--				// В противном случае отображаем форму-->
<!--				else {-->
<!--					replyForm.style.display = 'block';-->
<!--				}-->
<!--			});-->
<!--		}-->
<!--	</script>-->

	<script type="text/javascript">

		const replyButtons = document.querySelectorAll('.reply-btn');

		replyButtons.forEach(button => {
			button.addEventListener('click', () => {
				const comment = button.closest('.comment');
				const replyForm = comment.querySelector('.reply-form');
				// const newForm = document.createElement('form');
				// newForm.innerHTML = `
				// 	<form class="reply-js">
				// 		<section class="reply-area">
				// 			<div class="reply-area-inside">
				// 				<textarea class="id-area" readonly>мой id</textarea>
				// 				<textarea class="id-area" readonly>>>id пользователя</textarea>
				// 				<textarea class="reply-input"></textarea>
				// 			</div>
				// 		</section>
				// 	</form>
				// 	<button type="submit" class="button-send">Отправить</button>`;

				if (replyForm.classList.contains('show')) {
					replyForm.classList.remove('show');
					// const existedThing = replyForm.querySelector('form');
					// existedThing.remove();
				} else {
					// replyForm.appendChild(newForm);
					replyForm.classList.add('show');
				}
			});
		});
	</script>
</body>
</html>