<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>OmGTUchan</title>
	<link rel="stylesheet" type="text/css" href="styles/title-page-style.css">
	<link type="image/x-icon" href="img/omgtu_logo_min.ico" rel="shortcut icon">
</head>
<body>
	<div class="sidenav">
		<a href="main-page.html" ><img class="sidebar-logo" src="img/omgtu_logo.png"></a>
		<form>
  			<input type="text" placeholder="Искать здесь...">
  			<button type="submit"></button>
		</form>
  		<a href="title-page.html">Title 1</a>
  		<a href="title-page.html">Title 2</a>
  		<a href="title-page.html">Title 3</a>
  		<a href="entrance-page.html"><img class="entrance-icon" src="img/entrance_icon.png"></a>
  	</div>
  		<a href="entrance-page.html" class="entrance">ВХОД</a>
	

	<div class="main">
  		<div class="headbar">
  			<p class="headbar-title">Title</p>
  		</div>

  		<div class="block-post">
  			<div class="post-main">
  				<div class="post-header"> 
  					<p class="name-user">Имя пользователя</p> 
  					<p class="post-date"><i>27.10.2022 15.55.45</i></p>					
  				</div>
  				<div class="post-body">
  					<p>Повседневная практика показывает, что выбранный нами инновационный путь играет важную роль в формировании форм воздействия? Значимость этих проблем настолько очевидна, что реализация намеченного плана развития обеспечивает широкому кругу специалистов участие в формировании экономической целесообразности принимаемых решений! Соображения высшего порядка, а также курс на социально-ориентированный национальный проект позволяет оценить значение модели развития.</p>
  				</div>
  				<hr>
  				<div class="post-footer">
  					<a href="#" data-tooltip="Пожаловаться"><img class="footer-icons" src="img/spam-icon.svg"></a>
  					<a href="#" data-tooltip="Переслать"><img class="footer-icons" src="img/send-icon.svg"></a>
  				</div>
  			</div>

  			<p class="messages">Сообщения:</p>

  			<div class="post-messages">
  				<div class="post-header"> 
  					<p class="name-user">Имя пользователя</p> 
  					<p class="post-date"><i>27.10.2022 16.15.46</i></p>					
  				</div>
  				<div class="post-body">
  					<p>Не следует, однако, забывать о том, что постоянное информационно-техническое обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач? Задача организации, в особенности же курс на социально-ориентированный национальный проект способствует подготовке и реализации экономической целесообразности принимаемых решений. Таким образом, консультация с профессионалами из IT требует от нас анализа модели развития!</p>
  				</div>
  				<hr>
  				<div class="post-footer">
  					<a href="#" data-tooltip="Пожаловаться"><img class="footer-icons" src="img/spam-icon.svg"></a>
  					<a href="#" data-tooltip="Переслать"><img class="footer-icons" src="img/send-icon.svg"></a>
  				</div>
  			</div>
  			
  		</div>
	</div>  

</body>
</html>