body {
    background-color: #f2f2f2;
    margin: 0;
}

.sidenav {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #06C895, 10%, white);
    overflow-x: hidden;
    padding: 8px 0;
    height: 100%;
}

.sidenav a {
    padding: 6px 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    color: #06C895;
}

.sidebar-logo {
	width: 200px;
	padding: 10px 5px;

}

.sidenav form {
    position: relative;
    width: 200px;
    margin: 0 20px;
    margin-bottom: 20px;
}

.sidenav input {
    width: 185px;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 14px;
    outline: none;
    background: transparent;
    color: #666666;
}

.sidenav input:focus {
    border: 2px solid #06C895; 
}

.sidenav input:hover {
    border: 2px solid #06C895; 
}

.sidenav button {
    position: absolute; 
    top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.sidenav button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 20px;
  color: black;
}

.entrance {
    position: absolute;
    left: 50px;
    bottom: 35px;
    margin: 0;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.entrance-icon {
    position: absolute;
    left: 20px;
    bottom: 50px;
    width: 25px;
}

.main {
    margin-left: 240px;
    margin-top: 0px;
    font-size: 28px; 
    padding: 0px;
    background-color: #f2f2f2;
}

.headbar {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.2);
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headbar-title {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 600;
}

.main form {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 60px;
}

.main input {
    height: 30px;
    width: 100%;
    padding: 5px;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 15px;
    outline: none;
}

.main input:focus {
    border: 2px solid #06C895; 
}

.main input:hover {
    border: 2px solid #06C895; 
}

.main button {
    position: absolute;
    margin-top: 20px;
    right: 300px;
    width: 100px;
    height: 35px;
    border: 1px solid #059670;
    background-color: #06C895;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 20px;
}

.main button:hover {
    color: #ffffff;
    background: #059670;
}

.entrance-icon-white {
    position: absolute;
    width: 20px;
    right: 70px;
    bottom: 7px;
}

.create-account {
    position: absolute;
    top: 130px;
    left: 260px;
    font-size: 20px;
    color: #06C895;

}

.main a:hover {
    color: #059670;
    cursor: pointer;

}