@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f2f2f2;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.sidenav {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #06C895, 10%, white);
    overflow-x: hidden;
    padding: 8px 0;
    height: 100%;
}

.sidenav a {
    padding: 6px 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.sidebar-logo {
	width: 200px;
	padding: 10px 5px;
}

.sidenav form {
    position: relative;
    width: 200px;
    margin: 0 20px;
    margin-bottom: 20px;
}

.sidenav input {
    width: 185px;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 14px;
    outline: none;
    background: transparent;
    color: #666666;
}

.sidenav input:focus {
    border: 2px solid #06C895; 
}

.sidenav input:hover {
    border: 2px solid #06C895; 
}

.sidenav button {
    position: absolute; 
    top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.search-icon {
    width: 20px;
}

.entrance {
    position: absolute;
    left: 30px;
    bottom: 44px;
    margin: 0;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.entrance-icon {
    position: absolute;
    left: 20px;
    bottom: 50px;
    width: 25px;
}

.post-body {
    font-size: 17px;
}

.post-body-image {
    max-width: 500px;
    max-height: 500px;
}

.post-date {
    margin: 0;
    font-size: 13px;
    color: #666666;
}

.comment-body-image {
    max-width: 500px;
    max-height: 500px;
}

.headbar {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.2);
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headbar-title {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}
